#content {
    text-align: center;
    padding-top: 29%;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.6),
                 0px 8px 18px rgba(0,0,0,0.3),
                 0px 18px 23px rgba(0,0,0,0.1);
}


body {
    font-family: 'Lato', sans-serif;
    color: white;
    height: 100%;
}

.center-content {
    display: inline-block;
    text-align: left;
}

a.content-link {
    color: cornflowerblue;
    text-decoration: underline;
}

/* mouse over link */
a:hover {
  color: slateblue;
}

.pic-right {
    float: right;
    width: 400px;
    padding-left: 10px;
    padding-right: 30px;
}

.ruby {
    width: 100%;
}

.small-text {
    font-size: .75rem;
}

.navbar {
    background: rgba(0,0,0,0.7);
    border: none;
}

.card-columns {
    padding: 1rem;
}

.navbar-dark .navbar-nav .nav-link, .navbar-dark .navbar-nav .nav-link:focus {
    color: white;
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .active>.nav-link {
    background: rgba(255,255,255,0.5);
    color: black;
}

.names {
    font-family: 'Parisienne', cursive;
}

.intro {
    background: url("imgs/P10408805.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center {
    text-align: center;
}

h1 {
    font-weight: 700;
    font-size: 4.5rem;
}

h3.subtitle {
    text-align: center;
}

.section-title {
    margin: 0;
    padding-top: 20px;
    text-align: center;
    font-family: 'Parisienne', cursive;
    font-size: 4em;
    padding-bottom: 10px;
}

html {
    height: 100%;
}

p {
    padding-left: 50px;
    padding-right: 50px;
    margin: 0px;
}

.story-paragraph {
    text-indent: 40px;
}

hr {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.ceremony {
    background-color: DARKSLATEGREY;
    height: auto;
}

.our-story {
    background-color: #bfadcc;
    color: #2f2d30;
    height: auto;
}

.gallery {
    background-color: #62526d;
    height: auto;
}

.registry {
    background-color: #e2dfb7;
    color: #2f2d30;
    height: auto;
}

/* lists */

dl {
    margin-bottom: 0px;
    margin-left: 25%;
    margin-right: 25%;
    padding-bottom: 150px;
}

@media only screen and (max-width: 768px) {
    .names {
        font-size: 3em;
        font-family: 'Parisienne', cursive;
    }

    p, .ceremony-details {
        padding-left: 15px;
        padding-right: 15px;
        margin: 0px;
    }

    .divider-line {
        width: 250px;
    }

    .intro {
        background: url("imgs/P10408805mobile.JPG");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}

@media only screen and (max-width: 600px) {
    .pic-right {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 85%;
        padding: 0;
        float: none;
    }
}